<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td>
			<table align="center" cellpadding="0" cellspacing="0" class="table_responsive" style="max-width:800px;">
				<tr>
					<!--[if mso
						]><td align="center" width="40" styclass="hide-d"></td>
						<td align="center" width="40" styclass="hide-d"></td
					><![endif]-->
					<td align="center" bgcolor="#ffffff" class="table_responsive" style="padding-bottom: 20px;" valign="top">
						<a href="%%=RedirectTo(@CTABannerUrl)=%%">
							<img
								border="0"
								class="desktop"
								src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/15600b14-9e3d-443c-bab2-87cbd0095eed.jpg"
								style="display:block; outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;width: 800px;"
								title="Offer"
								width="800"
							/>
							<!--[if !mso]><!-->
							<img
								border="0"
								class="show-mobile-gmail"
								height="auto"
								src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/95f9985d-1a37-458f-88b4-5fc9a7deab61.jpg"
								style="display:none; font-size:0; line-height:0; mso-hide: all;max-height: 0; max-width: 0; width:0; -ms-interpolation-mode: bicubic;"
								title="Offer"
							/>
							<!--[endif]-->
						</a>
					</td>
					<!--[if mso
						]><td align="center" width="40" styclass="hide-d"></td>
						<td align="center" width="40" styclass="hide-d"></td
					><![endif]-->
				</tr>
			</table>
		</td>
	</tr>
</table>
